**/.git
*.md
*.txt
Dockerfile
.gitlab-ci.yml
volumes
docker-compose.yaml
docker-compose-local.yaml

## Don't add plugins that might be checked out for debugging
admin/tool/heartbeat/
admin/tool/objectfs/
admin/tool/webanalytics/
local/aws/
local/csp/
local/redislock/
mod/hvp/
